* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #fff;
  color: #000;
}

.background {
  background: linear-gradient(rgba(18, 18, 18, 0.75),rgba(72, 72, 72, 0.75)),url('images/coco.webp') no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.navbar {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: transparent;
  position: fixed;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  flex-wrap: nowrap;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  z-index: 1000;
  border-radius: 0 0 10px 1opx;
  transition: transform 0.4s ease,filter 0.4s ease, box-shadow 0.4s ease
}

.logo {
    color: #eee;
    font-weight: 700;
    font-size: 24px;
    flex: 0 0 auto;
    
    display: flex;            
    align-items: center;       
    gap: 10px;                 
}

.logo-img {
    width: 50px;               
    height: 50px;             
    border-radius: 50%;        
    object-fit: cover;         
    background: none;          
    display: block;  
} 

.nav-links {
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
    display: flex;
}


.nav-links a {
    text-decoration: none;
    color: rgb(244, 243, 243);
    margin-left: 30px;
    font-size: 18px;
    position: relative;
    transition: all 0.3s ease;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 180px; 
    color: white;
    position: relative;
    padding-top: 200px;
}


.moving-image {
    width: 300px;
    animation: float 3s ease-in-out infinite;
    margin-left: 10px; 
}


.heading-with-image {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 20px; 
}


.so-good {
    width: 200px;               
    height: 200px;              
    border-radius: 50%;        
    object-fit: cover;        
    background: none;
    margin: 10%;
    
}

.center h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    font-weight: 800;
    letter-spacing: 8px;
    line-height: 1.2;
    color: transparent;                
    -webkit-text-stroke: 2px black;     
    transition: color 0.3s ease;
    cursor: pointer;
    margin: 0;
}

.center h1:hover,
.center h1:focus {
    color: white;   
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.image {
    background-color: white;    
    padding: 50px 40px;
    margin: 60px auto;
    border-radius: 20px;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.image-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.image-table td {
    padding: 20px;
    margin:0 auto;
    vertical-align: top;
    color: #333;
}

.image-table .text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    padding-right: 30px;
    max-width: 300px;
}

.image-table img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #eee;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.image-table img:hover {
    transform: scale(1.05);
}

.image-table h4 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 8px;
    color: #111;
}

.image-table p {
    font-size: 14px;
    line-height: 1.5;
    padding: 0 10px;
    color: #444;
}

.content-section {
    width: 100%;
    padding: 80px 0;
    text-align: center;
    background: black;
}

.image-container {
    width: 70%;
    max-width: 600px;
    margin: 0 auto 40px auto;
}

.image-container img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.content-section h2 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #333;
}

.content-section p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.menu-section {
background: #3c2201;
padding: 60px 20px;
max-width: 3000px;
margin: 40px auto;
border-radius: 12px;
box-shadow: 0 4px 20px rgba(0,0,0,0.1);
margin-bottom: 0;
padding-bottom: 0;
}

.menu-section h1 {
    font-size: 50px;
    padding-left: 80px;
}

.menu-section p {
    padding-left: 80px;
    padding-right: 100px;
    font-size: 20px;
}

.menu-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
gap: 50px;
justify-items: center;
}

.item {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
}

.circular {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transform: translateY(50px);
  background: #ddd;
  display: flex;
}

.circular img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.menu-card {
  background: burlywood;
  padding: 90px 20px 20px;
  text-align: center;
  border-radius: 12px;
  min-height: 250px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.menu-card h2 {
  margin-bottom: 12px;
  font-size: 1.3rem;
  font-weight: 800;
  color: black;
}

.menu-card p {
  font-size: 0.95rem;
  color: black;
  line-height: 1.4;
}


.stats-section {
  background-color: #3c2201;
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 60px 20px;
  font-family: 'Outfit', sans-serif;
  margin-top: 0;
  padding-top: 0;
}

.stat-box {
  max-width: 300px;
}

.stat-icon {
  width: 60px;
  margin-bottom: 20px;
  padding-top: 50px;
}

.stat-box h1 {
  font-size: 60px;
  margin: 10px 0;
}

.stat-box p {
  letter-spacing: 2px;
  font-size: 14px;
  margin-top: 10px;
  opacity: 0.8;
}

.stat-box {
  max-width: 300px;
  animation: fadeUp 1s ease-in-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-login {
  margin-left: auto;
}

.login-nav-btn {
  border: 2px solid white;
  padding: 8px 22px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-nav-btn:hover {
  background: white;
  color: black;
}

.login-popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
  z-index: 3000;
}

#login-toggle:checked ~ .login-popup {
  opacity: 1;
  pointer-events: auto;
}

.login-container {
  position: relative;
  width: 720px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card-popup {
  width: 360px;
  background: white;
  padding: 60px 40px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
  z-index: 2; 
  position: relative;
}

.login-card-popup h2 {
  margin-bottom: 35px;
  font-size: 28px;
  font-weight: 400;
  color: #333;
}

.login-card-popup input {
  width: 100%;
  padding: 14px;
  margin-bottom: 22px;
  border: 1px solid #aaa;
  font-size: 15px;
}

.popup-login-btn {
  display: block;
  width: 100%;
  background: #555;
  color: white;
  padding: 14px;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
}

.forgot-link {
  display: block;
  margin-top: 18px;
  color: #0d6efd;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}

.login-side-panel {
  position: absolute;  
  width: 500px;        
  height: 600px;     
  background: #311e01;
  color: white;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 20%;           
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;          
  border-radius: 20px; 
}

.login-side-panel h3 {
  font-size: 50px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 25px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.login-side-panel p {
  font-size: 20px;
  margin-bottom: 40px;
  opacity: 0.9;
}

.register-side-btn {
  border: 2px solid white;
  padding: 12px 35px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  width: fit-content;
}

.close-btn {
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 28px;
  cursor: pointer;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.footer {
  background: #111;
  color: #fff;
  padding: 80px 0 30px;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0 40px;
}

.footer-box h3,
.footer-box h4 {
  margin-bottom: 15px;
  color: #fff;
}

.footer-box p {
  font-size: 15px;
  line-height: 1.7;
  color: #ccc;
}

.footer-box img {
  width: 60px;
  margin-bottom: 15px;
}

.footer-bottom {
  text-align: center;
  margin-top: 60px;
  border-top: 1px solid #333;
  padding-top: 20px;
  font-size: 14px;
  color: #aaa;
}

@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (max-width: 1024px) {

  .center h1 {
    font-size: 70px;
    padding-top: 200px;
    padding-left: 0;
    text-align: center;
  }

  .menu-section h1,
  .menu-section p {
    padding-left: 40px;
    padding-right: 40px;
  }

  .stats-section {
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
  }

  .stat-box h1 {
    font-size: 48px;
  }

  .menu-grid {
    gap: 30px;
  }

  .circular {
    width: 250px;
    height: 250px;
  }

  .menu-card {
    padding-top: 80px;
  }
}


@media (max-width: 768px) {

  
  .navbar {
    padding: 15px 20px;
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    position: static;
    transform: none;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-links a {
    margin: 8px 12px;
    font-size: 16px;
  }

  .center h1 {
    font-size: 50px;
    padding-top: 160px;
    letter-spacing: 4px;
    padding-left: 100px;
  }

  .menu-section h1 {
    font-size: 36px;
    padding-left: 20px;
  }

  .menu-section p {
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-grid {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .circular {
    width: 220px;
    height: 220px;
  }

  .stats-section {
    flex-direction: column;
    padding: 40px 20px;
    align-items: center;
  }

  .stat-icon {
    padding-top: 0;
  }

  .stat-box h1 {
    font-size: 45px;
  }
}


@media (max-width: 480px) {

  .logo {
    font-size: 18px;
  }

  .logo-img {
    width: 40px;
    height: 40px;
  }

  .center h1 {
    font-size: 38px;
    padding-top: 200px;
    padding-bottom: 100px;
  }

  .menu-section {
    padding: 40px 10px;
  }

  .menu-card {
    min-height: 220px;
    padding-top: 70px;
  }

  .stat-box h1 {
    font-size: 38px;
    align-items: center;
    
  }

  .footer-container {
    padding: 0 20px;
  }

  .footer-box img {
    width: 50px;
  }

  .footer-box p {
    font-size: 14px;
  }
}

